<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <% messages.forEach(message => { %>
    <div class="message">
        <p><%= message.message %> </p><a href="/view?id=<%=message.id%>">More...</a>
        <p>- <%= message.username %> on <%= format(new Date(message.date), 'dd MMM y') %></p>
    </div>
    <% }) %>
        <a href="/new"><button >Say Something!</button></a>
</body>
</html>
